.chat-bot {
  background-color: #f2f4f8;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-family: 'Mulish', sans-serif;
  border-radius: 10px 10px 10px 0;
  word-wrap: break-word;
  padding: 9px 13px;
  color: #000000;
  margin-top: 5px;
  line-height: 20px;
  max-width: 70%;
  min-height: 17px;
  min-width: 38px;
  margin-left: 5%;
  margin-bottom: 2%;
}

.chat-user {
  background-color: #304ffe;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-family: 'Mulish', sans-serif;
  border-radius: 10px 10px 0 10px;
  word-wrap: break-word;
  padding: 9px 13px;
  color: #ffffff;
  max-width: 70%;
  line-height: 20px;
  margin-left: 25%;
  margin-top: 5%;
}
